* {
  outline-color: lightblue;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#mainHeader {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: -webkit-linear-gradient(top, #111C24, #0D151B);
  box-shadow: 0 3px 5px #222;
  z-index: 2;
}
#mainHeader .title {
  line-height: 60px;
  margin-left: 60px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
#mainHeader #infoButton {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 26px;
  color: white;
  cursor: pointer;
  -webkit-transition: color .5s ease;
}
#mainHeader #infoButton:hover {
  color: #2d94d6;
  -webkit-transition: color .3s ease;
}

#options {
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0;
  left: -300px;
  background: white;
  box-shadow: 1px 0 8px black;
  transition: left .5s ease;
  z-index: 10;
}
#options.active {
  left: 0;
  transition: left .3s ease;
}
#options .optionHeader {
  height: 60px;
  background: -webkit-linear-gradient(top, #111C24, #0D151B);
}
#options .optionTitle {
  margin-left: 15px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 60px;
}
#options ul.optionList {
  margin: 0;
  padding: 5px;
}
#options ul.optionList li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  background: white;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  -webkit-transition: box-shadow .5s ease;
  user-select: none;
}
#options ul.optionList li:first-child {
  border-radius: 3px 3px 0 0;
  border-top: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
#options ul.optionList li:last-child {
  border-radius: 0 0 3px 3px;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
#options ul.optionList li:only-child {
  border-radius: 3px;
  border: 1px solid #DDD;
}
#options ul.optionList li:hover {
  cursor: pointer;
  background: #EEE;
}
#options ul.optionList li:active {
  box-shadow: inset 0 2px 5px #222;
  -webkit-transition: box-shadow .3s ease;
}
#options #optionButton {
  position: absolute;
  top: 0;
  left: 300px;
  margin-top: 15px;
  margin-left: 15px;
  height: 30px;
  width: 25px;
}
#options #optionButton span {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 1px;
  -webkit-transition: background .5s ease, width .5s ease;
}
#options #optionButton:hover {
  cursor: pointer;
}
#options #optionButton:hover span {
  background: #409FE4;
  -webkit-transition: background .2s ease;
}
#options #optionButton.active span {
  width: 50%;
  -webkit-transition: width .3s ease;
}
#options #optionButton.active span:first-child {
  width: 100%;
}
#options #optionButton.active span:last-child {
  width: 30%;
}

#content {
  position: absolute;
  box-sizing: border-box;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
}

#commitBar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  margin: 0;
  padding: 5px;
  background: white;
  opacity: .8;
  border: 1px solid #DDD;
  width: 250px;
  overflow: scroll;
  z-index: 1;
}
#commitBar .commitBarTitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
#commitBar .commitItem {
  border: 1px solid #DDD;
  border-radius: 2px;
  background: white;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  -webkit-transition: all .5s ease;
}
#commitBar .commitItem .title {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
#commitBar .commitItem .content {
  display: block;
  font-weight: normal;
  font-size: 12px;
  color: #555;
}
#commitBar .commitItem:hover {
  background: #EFEFEF;
  -webkit-transition: all .3s ease;
}
#commitBar .commitItem:active {
  background: #DFDFDF;
  box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.6);
  -webkit-transition: all .3s ease;
}
#commitBar .commitItem.selected {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.8);
  border: 1px solid blue;
  -webkit-transition: all .3s ease;
}

#view {
  left: 250px;
}

.svg-container {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  background: white;
  z-index: 0;
}
.svg-container .svg-content {
  position: absolute;
  display: inline-block;
  box-shadow: inset 0 0 3px rgba(10, 10, 10, 0.6);
  border-radius: 3px;
  margin: 0;
}

#infoBar {
  position: fixed;
  right: 0;
  top: 60px;
  bottom: 0;
  right: -405px;
  width: 400px;
  min-width: 0;
  padding: 10px;
  border-radius: 3px;
  box-shadow: -1px 0 8px rgba(10, 10, 10, 0.5);
  background: white;
  opacity: 0.8;
  z-index: 10;
  -webkit-transition: right .5s ease;
}
#infoBar .infoCard {
  margin-bottom: 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
#infoBar .infoHeader {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #DDD;
  background: white;
  -webkit-transition: background .5s ease;
}
#infoBar .infoHeader:hover {
  background: #DFDFDF;
  -webkit-transition: background .3s ease;
}
#infoBar .infoHeader:active {
  background: #ADADAD;
  -webkit-transition: background .3s ease;
}
#infoBar .infoHeader .infoTitle {
  display: inline-block;
  height: 100%;
  width: 90%;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
#infoBar .infoHeader .infoArrow {
  display: inline-block;
  height: 100%;
  width: 10%;
  text-align: center;
  font-size: 14px;
  color: #707070;
}
#infoBar .infoArrow {
  color: black;
}
#infoBar .infoBody {
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  font-size: 12px;
}
#infoBar .infoBody table {
  width: 100%;
}
#infoBar .infoBody table tr {
  background: white;
}
#infoBar .infoBody table tr:hover {
  background: #EFEFEF;
}

#infoBar.visible {
  right: 0;
  -webkit-transition: right .3s ease;
}

/*# sourceMappingURL=dashboard.css.map */
