.svg-container {
  background: white;
}

.grandparent rect {
  user-select: none;
  cursor: pointer;
  stroke: white;
  -webkit-transition: stroke .5s ease, filter .5s ease;
}
.grandparent rect:hover {
  stroke: steelblue;
  transition: stroke .3s ease;
  -webkit-transition: stroke .3s ease;
}
.grandparent rect:active {
  filter: brightness(80%);
  transition: filter .3s ease;
  -webkit-transition: filter .3s ease;
}
.grandparent text {
  font-family: sans-serif;
  font-size: 11px;
  pointer-events: none;
}

.cell rect {
  stroke: white;
  stroke-width: 1.5;
  fill: #FFE297;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: stroke .5s ease, opacity .5s ease;
}
.cell rect:hover {
  stroke: steelblue;
  transition: stroke .3s ease;
  -webkit-transition: stroke .3s ease;
}
.cell text {
  font-family: sans-serif;
  font-size: 11px;
  line-height: 12px;
  pointer-events: none;
  opacity: 0;
  z-index: 30;
  transition: opacity .5s ease, box-shadow .5s ease;
  -webkit-transition: opacity .5s ease, box-shadow .5s ease;
}
.cell:hover {
  box-shadow: 0 0 5px gray;
  transition: box-shadow .3s ease;
  -webkit-transition: box-shadow .3s ease;
}
.cell:hover text {
  opacity: 1 !important;
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

.cell-added rect {
  fill: #2fe2a1;
}

.cell-deleted rect {
  fill: #d15375;
}

.cell-moved rect {
  fill: #7f58d3;
}

.cell-modified rect {
  fill: #dbd825;
}

.cell-unmodified rect {
  fill: #ADBDC9;
}

.svg-g {
  background: -webkit-radial-gradient(white, lightgray);
}

.node {
  -webkit-transition: opacity .5s ease;
}
.node text {
  transition: font-size .5s ease;
  -webkit-transition: font-size .5s ease;
}
.node.focused {
  opacity: 1 !important;
  -webkit-transition: opacity .3s ease;
}
.node.focused text {
  font-size: 20px;
  transition: font-size .3s ease;
  -webkit-transition: font-size .3s ease;
}

.node-root circle {
  fill: #555;
  stroke-width: 1.5px;
}

.node-rootCollapsed circle {
  fill: #222;
  stroke: #ADADAD;
  stroke-width: 3px !important;
}

.node-collapsed circle {
  fill: #DFDFDF;
  stroke-width: 4px !important;
}

.node-inner circle {
  fill: white;
  stroke-width: 1.5px;
}

.node-added circle {
  fill: #2fe2a1;
}

.node-deleted circle {
  fill: #d15375;
}

.node-moved circle {
  fill: #7f58d3;
}

.node-modified circle {
  fill: #dbd825;
}

.node-unmodified circle {
  fill: #ADBDC9;
}

.node circle {
  stroke: #505050;
  stroke-width: 1.5px;
  -webkit-transition: stroke .5s ease, stroke-width .5s ease, transform .5s ease;
  cursor: pointer;
}
.node circle:hover {
  stroke: steelblue;
  -webkit-transition: stroke .3s ease, stroke-width .3s ease, transform .3s ease;
}

.node-label {
  font-family: sans-serif;
  font-size: 10px;
  text-anchor: middle;
  pointer-events: none;
}
.node-label:hover {
  stroke: black;
  stroke-width: 1;
}

.legend-node-label {
  font-family: sans-serif;
  font-size: 14px;
  text-anchor: start;
  pointer-events: none;
}

.link {
  stroke: #505050;
  stroke-width: 1.5px;
  fill: none;
}

#nodeTooltip {
  position: fixed;
  text-align: center;
  padding: 8px;
  font: 14px sans-serif;
  background: #E9F3FF;
  border: 1px solid #aaa;
  border-radius: 3px;
  pointer-events: none;
}
#nodeTooltip #tooltipHeader {
  font: 14px sans-serif;
  text-shadow: 0 0 1px black;
}
#nodeTooltip #tooltipHeader.added {
  color: darkgreen;
}
#nodeTooltip #tooltipHeader.deleted {
  color: darkred;
}
#nodeTooltip #tooltipHeader.modified {
  color: darkgoldenrod;
}
#nodeTooltip #tooltipHeader.unmodified {
  color: #010021;
}
#nodeTooltip #tooltipHeader.moved {
  color: purple;
}

/*# sourceMappingURL=vis.css.map */
