$headerBackground: rgb(244, 244, 244);
$headerColor: rgb(56, 85, 142);
//$messageBackground: rgb(45, 148, 214);
//$messageTextColor: white;
$messageBackground: white;
$messageTextColor: black;
$lightBorder: #DDD;
$darkenBorder: darkgray;
$buttonInset: #666;
$tooltipBackground: black;
$tooltipColor: white;
$nodeTooltipBackground: #E9F3FF;
$added: #2fe2a1;
$deleted: #d15375;
$moved: #7f58d3;
$modified: #dbd825;
$unmodified: #ADBDC9;
