@import 'colors';

$headerHeight: 60px;
$optionWidth: 300px;
$commitBarWidth: 250px;

* {
    outline-color: lightblue;
    box-sizing: border-box;
}

body {
    margin: 0;
}

@keyframes pulseColor {
    0% {
        color: white;
    }
    10% {
        color: yellow;
    }
    20% {
        color: white;
    }
    30% {
        color: yellow;
    }
    100% {
        color: white;
    }
}

#mainHeader {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    background: -webkit-linear-gradient(top, #111C24, #0D151B);
    box-shadow: 0 3px 5px #222;
    z-index: 2;
    .title {
        line-height: 60px;
        margin-left: 60px;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
    #legendButton {
        position: absolute;
        right: 70px;
        top: 15px;
        font-size: 26px;
        line-height: 26px;
        color: white;
        cursor: pointer;
        -webkit-transition: color .5s ease;
        &:hover {
            color: rgb(45, 148, 214);
            -webkit-transition: color .3s ease;
        }
    }
    #infoButton {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 26px;
        color: white;
        cursor: pointer;
        -webkit-transition: color .5s ease;
        &:hover {
            color: rgb(45, 148, 214);
            -webkit-transition: color .3s ease;
        }
    }
    #infoButton.pulsing {
        animation-name: pulseColor;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
}

#options {
    position: fixed;
    height: 100%;
    width: $optionWidth;
    top: 0;
    left: -$optionWidth;
    background: white;
    box-shadow: 1px 0 8px black;
    transition: left .5s ease;
    z-index: 10;
    &.active {
        left: 0;
        transition: left .3s ease;
    }
    .optionHeader {
        height: $headerHeight;
        background: -webkit-linear-gradient(top, #111C24, #0D151B);
    }
    .optionTitle {
        margin-left: 15px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        line-height: $headerHeight;
    }
    ul.optionList {
        margin: 0;
        padding: 5px;
        li {
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            padding-right: 10px;
            list-style: none;
            background: white;
            border-left: 1px solid $lightBorder;
            border-right: 1px solid $lightBorder;
            border-bottom: 1px solid $lightBorder;
            -webkit-transition: box-shadow .5s ease;
            user-select: none;
        }
        li:first-child {
            border-radius: 3px 3px 0 0;
            border-top: 1px solid $lightBorder;
            border-left: 1px solid $lightBorder;
            border-right: 1px solid $lightBorder;
            border-bottom: 1px solid $lightBorder;
        }
        li:last-child {
            border-radius: 0 0 3px 3px;
            border-left: 1px solid $lightBorder;
            border-right: 1px solid $lightBorder;
            border-bottom: 1px solid $lightBorder;
        }
        li:only-child {
            border-radius: 3px;
            border: 1px solid $lightBorder;
        }
        li:hover {
            cursor: pointer;
            background: #EEE;
        }
        li:active {
            box-shadow: inset 0 2px 5px #222;
            -webkit-transition: box-shadow .3s ease;
        }
    }
    #optionButton {
        position: absolute;
        top: 0;
        left: $optionWidth;
        margin-top: 15px;
        margin-left: 15px;
        height: 30px;
        width: 25px;
        span {
            display: block;
            margin-top: 5px;
            width: 100%;
            height: 2px;
            background: white;
            border-radius: 1px;
            -webkit-transition: background .5s ease, width .5s ease;
        }
        &:hover {
            cursor: pointer;
            span {
                background: #409FE4;
                -webkit-transition: background .2s ease;
            }
        }
    }
    #optionButton.active {
        span {
            width: 50%;
            -webkit-transition: width .3s ease;
        }
        span:first-child {
            width: 100%;
        }
        span:last-child {
            width: 30%;
        }
    }
}

#content {
    position: absolute;
    box-sizing: border-box;
    top: $headerHeight;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
}

#commitBar {
    position: fixed;
    left: 0;
    top: $headerHeight;
    bottom: 0;
    margin: 0;
    padding: 5px;
    background: white;
    opacity: .8;
    border: 1px solid $lightBorder;
    width: $commitBarWidth;
    overflow: scroll;
    z-index: 1;
    .commitBarTitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        margin-top: 8px;
        margin-bottom: 10px;
    }
    .commitItem {
        border: 1px solid $lightBorder;
        border-radius: 2px;
        background: white;
        margin-top: 10px;
        padding: 5px;
        cursor: pointer;
        user-select: none;
        -webkit-transition: all .5s ease;
        .title {
            display: block;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 5px;
        }
        .content {
            display: block;
            font-weight: normal;
            font-size: 12px;
            color: #555;
        }
        &:hover {
            background: #EFEFEF;
            -webkit-transition: all .3s ease;
        }
        &:active {
            background: #DFDFDF;
            box-shadow: inset 0 2px 3px rgba(10, 10, 10, 0.6);
            -webkit-transition: all .3s ease;
        }
    }
    .commitItem.selected {
        box-shadow: 0 0 5px rgba(0, 0, 255, .8);
        border: 1px solid blue;
        -webkit-transition: all .3s ease;
    }
}

#view {
    left: $commitBarWidth;
}

.svg-container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    //left: $sidebarWidth;
    //padding-bottom: 100%;
    height: 100%;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    background: white;
    z-index: 0;
    .svg-content {
        position: absolute;
        display: inline-block;
        box-shadow: inset 0 0 3px rgba(10, 10, 10, 0.6);
        border-radius: 3px;
        margin: 0;
    }
}

$infoBarWidth: 400px;

#infoBar {
    position: fixed;
    top: $headerHeight;
    bottom: 0;
    right: -$infoBarWidth - 5px;
    width: $infoBarWidth;
    min-width: 0;
    padding: 10px;
    border-radius: 3px;
    box-shadow: -1px 0 8px rgba(10, 10, 10, 0.5); 
    background: white;
    opacity: 0.9;
    z-index: 10;
    overflow: scroll;
    -webkit-transition: right .5s ease;
    .infoCard {
        margin-bottom: 20px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
        //border-radius: 5px;
    }
    .infoHeader {
        //position: absolute;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        cursor: pointer;
        border: 1px solid $lightBorder;
        background: white;
        -webkit-transition: background .5s ease;
        &:hover {
            background: #DFDFDF;
            -webkit-transition: background .3s ease;
        }
        &:active {
            background: #ADADAD;
            -webkit-transition: background .3s ease;
        }
        .infoTitle {
            display: inline-block;
            margin: 0;
            height: 100%;
            width: 90%;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            text-align: center;
        }
        .infoArrow {
            display: inline-block;
            margin: 0;
            height: 100%;
            width: 10%;
            text-align: center;
            font-size: 14px;
            color: #707070;
        }
    }
    .infoArrow {
        color: black;
    }
    .infoBody {
        margin-top: 10px;
        width: 100%;
        max-width: $infoBarWidth;
        font-size: 12px;
        table {
            width: 100%;
            max-width: 100%;
            table-layout: fixed;
        }
        table tr {
            background: white;
            &:hover {
                background: #EFEFEF;
            }
        }
        table tr.statisticRow:hover {
            background: white;
        }
        table tr.disabled {
            background: #DFDFDF;
            color: #AFAFAF;
            &:hover {
                background: #DFDFDF;
            }
        }
        table tr td {
            white-space: wrap;
            word-wrap: break-word;
        }
        table tr td:first-child {
            width: 30%;
            text-align: right;
        }
        //table tr td:last-child {
        //    width: 100%;
        //}
    }
}

#infoBar.visible {
    right: 0;
    -webkit-transition: right .3s ease;
}

$legendWidth: 400px;
$legendHeight: 400px;

#legend {
    position: fixed;
    display: block;
    width: $legendWidth;
    height: $legendHeight;
    top: -$legendHeight;
    left: 50%;
    margin-top: -$legendHeight/2;
    margin-left: -$legendWidth/2;
    background: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 20;
    -webkit-transition: top .5s ease;
    #legendCloseBtn {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 24px;
        width: 24px;
        z-index: 21;
        border-radius: 50%;
        color: black;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        text-shadow: 0 -2px 1px white, 2px 0 1px white, -2px 0 1px white, 0 2px 1px white;
        -webkit-transition: transform .8s ease;
        &:hover {
            transform: rotate(360deg);
            -webkit-transition: transform .5s ease;
        }
    }
    #legendTitle {
        display: block;
        width: 100%;
        //height: 30px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        margin-top: 15px;
    }
    #legendBody {
        position: absolute;
        width: 100%;
        top: 33px;
        bottom: 0;
        padding: 5px;
    }
}

#legend.visible {
    top: 50%;
    -webkit-transition: top .3s ease;
}

@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#loadingScreen {
    position: fixed;
    //visibility: hidden;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    background: transparent;
    color: black;
    z-index: 20;
    font-size: 16px;
    font-weight: bold;
    line-height: 150px;
    text-align: center;
    text-shadow: 1px 0 2px white, -1px 0 2px white, 0 1px 2px white, 0 -1px 2px white;
    -webkit-transition: visibility 3s ease;
}

//#loadingScreen.visible {
//    visibility: visible;
//    -webkit-transition: visibility .5s ease;
//}

#loadingScreen #loading-content {
    position: absolute;
    top: -23px;
    left: -23px;
    width: 130%;
    height: 130%;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: goldenrod;
    border-bottom-color: goldenrod;
    -webkit-animation: loader 2s linear infinite;
}

#loadingScreen:after {
    content: "";
    position: absolute;
    top: -11px;
    left: -11px;
    width: 110%;
    height: 110%;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: darkred;
    border-bottom-color: darkred;
    -webkit-animation: loader 1s linear infinite;
}

#loadingScreen:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 90%;
    height: 90%;
    border: 3px solid transparent;
    border-radius: 50%;
    border-left-color: #4D658D;
    border-right-color: #4D658D;
    -webkit-animation: loader 1.5s linear infinite;
}
