@import 'colors';

.svg-container {
    background: white;
}

.grandparent {
    rect {
        user-select: none;
        cursor: pointer;
        stroke: white;
        transition: stroke .3s ease, filter .3s ease, fill .3s ease;
        -webkit-transition: stroke .3s ease, filter .3s ease, fill .3s ease;
        &:hover {
            stroke: steelblue;
            transition: stroke .1s ease;
            -webkit-transition: stroke .1s ease;
        }
        &:active {
            filter: brightness(80%);
            transition: filter .1s ease;
            -webkit-transition: filter .1s ease;
        }
    }
    text {
        font-family: sans-serif;
        font-size: 11px;
        pointer-events: none;
    }
}

.cell {
    overflow: hidden;
    rect {
        stroke: gray;
        stroke-width: 1;
        fill: #FFE297;
        overflow: hidden;
        user-select: none;
        cursor: pointer;
        z-index: 10;
        -webkit-transition: stroke .3s ease, opacity .3s ease;
        &:hover {
            stroke: steelblue;
            transition: stroke .1s ease;
            -webkit-transition: stroke .1s ease;
        }
    }
    .cell-label {
        font-family: sans-serif;
        font-size: 9px;
        line-height: 12px;
        pointer-events: none;
        //opacity: 0;
        z-index: 30;
        transition: opacity .3s ease, box-shadow .3s ease;
        -webkit-transition: opacity .3s ease, box-shadow .3s ease;
    }
    &:hover {
        box-shadow: 0 0 5px gray;
        transition: box-shadow .1s ease;
        -webkit-transition: box-shadow .1s ease;
    }
    &:hover text {
        opacity: 1 !important;
        transition: opacity .1s ease;
        -webkit-transition: opacity .1s ease;
    }
}

.cell-dir-added {
    rect {
        fill: lighten( $added, 20% );
        stroke: $added-border;
    }
}
.cell-dir-deleted {
    rect {
        fill: lighten( $deleted, 20%);
        stroke: $deleted-border;
    }
}
.cell-dir-moved {
    rect {
        fill: lighten( $moved, 20% );
        stroke: $moved-border;
    }
}
.cell-dir-modified {
    rect {
        fill: lighten( $modified, 20% );
        stroke: $modified-border;
    }
}
.cell-dir-unmodified {
    rect {
        fill: lighten( $unmodified, 20% );
        stroke: $unmodified-border;
    }
}
.cell-added {
    rect {
        fill: $added;
        stroke: $added-border;
    }
}
.cell-deleted {
    rect {
        fill: $deleted;
        stroke: $deleted-border;
    }
}
.cell-moved {
    rect {
        fill: $moved;
        stroke: $moved-border;
    }
}
.cell-modified {
    rect {
        fill: $modified;
        stroke: $modified-border;
    }
}
.cell-unmodified {
    rect {
        fill: $unmodified;
        stroke: $unmodified-border;
    }
}

.legend-cell-label {
    opacity: 1 !important;
    font-family: sans-serif;
    font-size: 14px;
    text-anchor: start;
    pointer-events: none;
}

.svg-g {
    background: -webkit-radial-gradient(white, lightgray);
}

.node {
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    text {
        transition: font-size .3s ease;
        -webkit-transition: font-size .3s ease;
    }
    &.focused {
        opacity: 1 !important;
        transition: opacity .1s ease;
        -webkit-transition: opacity .1s ease;
        text {
            font-size: 20px;
            transition: font-size .1s ease;
            -webkit-transition: font-size .1s ease;
        }
    }
}

.node-root {
    circle {
        fill: #555;
        stroke-width: 1.5px;
    }
}
.node-rootCollapsed {
    circle {
        fill: #222;
        stroke: #ADADAD;
        stroke-width: 3px !important;
    }
}
.node-collapsed {
    circle {
        fill: #DFDFDF;
        stroke-width: 4px !important;
    }
}
.node-inner {
    circle {
        fill: white;
        stroke-width: 1.5px;
    }
}
.node-added {
    circle {
        fill: $added;
    }
}
.node-deleted {
    circle {
        fill: $deleted;
    }
}
.node-moved {
    circle {
        fill: $moved;
    }
}
.node-modified {
    circle {
        fill: $modified;
    }
}
.node-unmodified {
    circle {
        fill: $unmodified;
    }
}

.node circle {
    stroke: #505050;
    stroke-width: 1.5px;
    transition: stroke .3s ease, stroke-width .3s ease, transform .3s ease;
    -webkit-transition: stroke .3s ease, stroke-width .3s ease, transform .3s ease;
    cursor: pointer;
    &:hover {
        stroke: steelblue;
        //stroke-width: 2.5px;
        //transform: scale(1.4);
        transition: stroke .1s ease, stroke-width .1s ease, transform .1s ease;
        -webkit-transition: stroke .1s ease, stroke-width .1s ease, transform .1s ease;
    }
}

.node-label {
    font-family: sans-serif;
    font-size: 10px;
    text-anchor: middle;
    pointer-events: none;
    &:hover {
        stroke: black;
        stroke-width: 1;
    }
}
.legend-node-label {
    font-family: sans-serif;
    font-size: 14px;
    text-anchor: start;
    pointer-events: none;
}

.link {
    stroke: #505050;
    stroke-width: 1.5px;
    fill: none;
}

.tooltip {
    position: fixed;
    text-align: center;
    //width: 100px;
    //height: 10px;
    padding: 8px;
    font: 14px sans-serif;
    background: $tooltipBg;
    border: 1px solid #aaa;
    border-radius: 3px;
    pointer-events: none;
    #tooltipHeader {
        //font-weight: bold;
        font: 14px sans-serif;
        text-shadow: 0 0 1px black;
    }
    #tooltipHeader.added {
        color: darkgreen;
    }
    #tooltipHeader.deleted {
        color: darkred;
    }
    #tooltipHeader.modified {
        color: darkgoldenrod;
    }
    #tooltipHeader.unmodified {
        color: #010021;
    }
    #tooltipHeader.moved {
        color: purple;
    }
}
