@import 'colors';

.viewSvg {
    .viewG {
        background: -webkit-radial-gradient(white, lightgray);
    }
}

.node {
    -webkit-transition: opacity .5s ease;
    text {
        -webkit-transition: font-size .5s ease;
    }
    &.focused {
        opacity: 1 !important;
        -webkit-transition: opacity .3s ease;
        text {
            font-size: 20px;
            -webkit-transition: font-size .3s ease;
        }
    }
}

.node-root {
    circle {
        fill: #555;
        stroke-width: 1.5px;
    }
}
.node-rootCollapsed {
    circle {
        fill: #222;
        stroke-width: 3px !important;
    }
}
.node-collapsed {
    circle {
        fill: #DFDFDF;
        stroke-width: 4px !important;
    }
}
.node-inner {
    circle {
        fill: white;
        stroke-width: 1.5px;
    }
}
.node-added {
    circle {
        fill: #2fe2a1;
    }
}
.node-deleted {
    circle {
        fill: #d15375;
    }
}
.node-moved {
    circle {
        fill: #7f58d3;
    }
}
.node-modified {
    circle {
        fill: #dbd825;
    }
}
.node-unmodified {
    circle {
        fill: #004EFF;
    }
}

.node circle {
    stroke: #505050;
    stroke-width: 1.5px;
    cursor: pointer;
    -webkit-transition: stroke .5s ease, stroke-width .5s ease;
    &:hover {
        stroke: steelblue;
        stroke-width: 2.5px;
        -webkit-transition: stroke .3s ease, stroke-width .3s ease;
    }
}

.node-label {
    font-family: sans-serif;
    font-size: 10px;
    text-anchor: middle;
    pointer-events: none;
    &:hover {
        stroke: black;
        stroke-width: 1;
    }
}

.link {
    stroke: #505050;
    stroke-width: 1.5px;
    fill: none;
}

#tooltip {
    position: absolute;
    text-align: center;
    //width: 100px;
    //height: 10px;
    padding: 8px;
    font: 14px sans-serif;
    background: $tooltipBackground;
    border: 1px solid #aaa;
    border-radius: 3px;
    pointer-events: none;
}
